<h1 class="current-category"><%= params[:category] %></h1>
<% if @books.count == 0 %>
  <h1>Nie ma obecnie żadnych książek z tego gatunku</h1>
<% else %>
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-3">
        <a href="/books/<%= book.id %>">
          <%= image_tag book.book_img.variant(resize_to_limit: [250, 350]), class: "book" %>
        </a>
      </div>
    <% end %>
  </div>
<% end %>